/*GENERAL*/

body {
  background-color:#d13f54;
  font-family: 'Open Sans', sans-serif;
}

.container{
  margin:0 auto;
  width:800px;
  text-align:center;
}

.create,.chooseimg,#popup,#registercontent{
  display:none;
}

h2{
  padding-top:30px;
  padding-bottom:30px;
  color:black;
}

h1{
  padding:10px 0 10px 0;
  color:#F8F3E4;
}

.left{
  width:50%;
  float:left;
}

.right{
  width:50%;
  float:right;
}

.pointer{
  cursor:pointer;
}

/*HOMEPAGE*/

.headerimg{
  width:642px;
  height:404px;
  margin:0 auto;
}

.createimg,.chooseimg{
  padding-top:50px;
  width:496px;
  height:88px;
  margin:0 auto;
}

label.myLabel input[type="file"] {
    position: fixed;
    top: -1000px;
}

.hide,.trigger{
  display:inline-block;
}

.hide{
  display:block;
}

.hiddenform{
  display:none;
}

.orimage{
  padding-top:20px;
  padding-bottom:20px;
}

/*LINK TO INDEX*/

.indexlink{
  width:111px;
  height:70px;
  position:absolute;
  top:6px;
  margin:0 auto;
  left:0;
  right:0;
  background-image:url('img/s_ballheader.png');
}

.indexlink:hover{
 background-image:url('img/s_ballheader_hover.png'); 
}

/*LOGIN EN REGISTRATIE POPUP*/

.black_overlay{
  display: none;
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background-color: black;
  z-index:1001;
  -moz-opacity: 0.8;
  opacity:.80;
  filter: alpha(opacity=80);
}

#popup{
  position:absolute;
  top: 330px;
  left: 0;
  right:0;
  width: 471px;
  height: 410px;
  padding: 16px;
  border: 10px solid #6FAA8C;
  background-color: #D13F54;
  z-index:1002;
  overflow: auto;
  margin:0 auto;
}

#closepopup{
  position:absolute;
  background-image:url(img/popup-close.png);
  width:40px;
  height:40px;
  margin-left:430px;
  margin-top:-8px;
  cursor:pointer;
}

.errors{
  text-align:center;
  color:#B20017;
  text-decoration:underline;
  font-weight:bold;
  margin-bottom:10px;
}

/*EDIT PAGE*/

.colors{
  width:350px;
  margin:0 auto;
  padding-bottom:75px;
}

.editimg{
  border-radius:100%;
}

.editimgbg{
  top:387px;
  left:0;
  right:0;
  margin:0 auto;
  width:359px;
  height:110px;
  /* background-image:url(img/testbg.png); */
  background-color:#B22222;
  position:absolute;
}

.editimgmask{
  top:387px;
  left:0;
  right:0;
  margin:0 auto;
  width:367px;
  height:110px;
  background-image:url(img/mask.png);
  position:absolute;
}

.editimgextra{
  top:97px;
  left:0;
  right:0;
  margin:0 auto;
  width:400px;
  height:110px;
  position:absolute;
}

.edittext{
  top:397px;
  left:0;
  right:0;
  margin:0 auto;
  width:367px;
  height:110px;
  position:absolute;
  font-family: 'Bad Script';
  font-size:18pt;
  color:#FFFAFA;
}

.editfrom{
  top:428px;
  left:0;
  right:0;
  margin:0 auto;
  width:367px;
  height:110px;
  position:absolute;
  font-family: 'Bad Script';
  font-size:18pt;
  color:#FFFAFA;
}

.imgpreview{
  padding-top:97px;
  padding-bottom:27px;
}

.editlabel{
  padding-bottom:15px;
}

.editlabeltext{
  padding-bottom:8px;
  color:#F8F3E4;
}
.editlabeltextbg{
  padding-bottom:10px;
  color:#F8F3E4;
}

.hideradio > label > input{ /* HIDE RADIO */
  display:none;
}

.hideradio > label > input + img{ /* IMAGE STYLES */
  cursor:pointer;
  border:2px solid transparent;
}
.hideradio > label > input:checked + img{ /* (CHECKED) IMAGE STYLES */
  border:2px solid #6FAA8C;
  border-radius:100%;
}

.selectfont{
  width:100px;
}

.clear{
  clear:both;
}

.fixradio input[type="radio"] {
    margin-top:-20px;
}

.fixradiosquare input[type="radio"] {
    margin-top:-55px;
}

.radiocircle{
  width:32px;
  display:inline-block;
}

input[type="submit"] {

}

.btn{
  font-size:110%;
  position:relative;
  width: auto;
  display:inline-block;
  color:#ecf0f1;
  text-decoration:none;
  border-radius:5px;
  border:solid 1px #4A8968;
  background:#6FAA8C;
  text-align:center;
  padding:16px 18px 14px;
  margin: 12px;
  margin-bottom:20px;
  
  -webkit-transition: all 0.1s;
  -moz-transition: all 0.1s;
  transition: all 0.1s;
  
  -webkit-box-shadow: 0px 6px 0px #23543A;
  -moz-box-shadow: 0px 6px 0px #23543A;
  box-shadow: 0px 6px 0px #23543A;
}

.btn:active{
    -webkit-box-shadow: 0px 2px 0px #23543A;
    -moz-box-shadow: 0px 2px 0px #23543A;
    box-shadow: 0px 2px 0px #23543A;
    position:relative;
    top:4px;
}

.btn:hover,.btn a:hover{
  color:#23543A;
  cursor:pointer;
}

.btnfb{
  font-size:110%;
  position:relative;
  width: auto;
  display:inline-block;
  color:#F8F3CF;
  text-decoration:none;
  border-radius:5px;
  border:solid 1px #294F9B;
  background:#425F9C;
  text-align:center;
  padding:16px 18px 14px;
  margin: 12px;
  margin-bottom:20px;
  
  -webkit-transition: all 0.1s;
  -moz-transition: all 0.1s;
  transition: all 0.1s;
  
  -webkit-box-shadow: 0px 6px 0px #072256;
  -moz-box-shadow: 0px 6px 0px #072256;
  box-shadow: 0px 6px 0px #072256;
}

.btnfb:active{
    -webkit-box-shadow: 0px 2px 0px #072256;
    -moz-box-shadow: 0px 2px 0px #072256;
    box-shadow: 0px 2px 0px #072256;
    position:relative;
    top:4px;
}

.btnfb:hover{
  color:#072256;
  cursor:pointer;
}

.btnfb a,.btn a{
  color:#F8F3CF;
  text-decoration:none;
}

.btnfb a:hover{
  color:#072256;
  cursor:pointer;
}

/*SHIPPING*/

.deliveryinfo label{
  display: inline-block; 
  width: 140px; 
  text-align: right;
  color:white;
}
.deliveryinfo input[type="text"] {
    text-align:center;
    margin-bottom:5px;
}

.deliveryinfo{
    margin-right:140px;
}

.logininfo label{
  display: inline-block; 
  width: 140px; 
  text-align: right;
  color:white;
}
.logininfo input {
    text-align:center;
    margin-bottom:5px;
    width:140px;
}

.logininfo{
    margin-right:140px;
}

.submitinfo{
  padding-top:10px;
}

.textlink{
  display:inline-block;
}

.textlink a{
  text-decoration:underline;
  color:white;
  font-weight:bold;
}
.textlink a:hover{
  text-decoration:underline;
  color:#6FAA8C;
  font-weight:bold;
}

/*FOOTER*/

.center{
  text-align:center;
}
.fbImage{
  margin:10px;
  float:left;
}
.fbImage > img{
  width: 300px;
  cursor:pointer;
}

/*balls*/

.balls{
  margin-top:100px;
}

.ball{
  float:left;
  width:400px;
  height:400px;
}

/*FACEBOOK*/

#next{
  color:white;
  text-align:right;
  cursor:pointer;
  display:inline-block;
  float:right;
}

#previous{
  color:white;
  text-align:left;
  cursor:pointer;
  display:inline-block;
  float:left;
}

.facebookimages{
  margin-top:100px;
}

.nextprevious{
  clear:both;
  margin-bottom:10px;
  padding-bottom:10px;
}

/*==================================================
 * Effect 8
 * ===============================================*/
.effect8
{
    position:relative;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
       -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
            box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
.effect8:before, .effect8:after
{
  content:"";
    position:absolute;
    z-index:-1;
    -webkit-box-shadow:0 0 20px rgba(0,0,0,0.8);
    -moz-box-shadow:0 0 20px rgba(0,0,0,0.8);
    box-shadow:0 0 20px rgba(0,0,0,0.8);
    top:10px;
    bottom:10px;
    left:0;
    right:0;
    -moz-border-radius:100px / 10px;
    border-radius:100px / 10px;
}
.effect8:after
{
  right:10px;
    left:auto;
    -webkit-transform:skew(8deg) rotate(3deg);
       -moz-transform:skew(8deg) rotate(3deg);
        -ms-transform:skew(8deg) rotate(3deg);
         -o-transform:skew(8deg) rotate(3deg);
            transform:skew(8deg) rotate(3deg);
}